{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">tickPy <sup>1</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Customer
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'new_ticket' %}">
            <i class="fas fa-plus"></i>
            <span>Open new ticket</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'track_my_tickets' %}">
            <i class="fas fa-eye"></i>
            <span>Track my tickets</span></a>
    </li>
    {% if request.user.groups.get.name == 'engineer' or request.user.groups.get.name == 'admin' %}
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Engineer
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'engineer_queue_tracking' %}">
            <i class="fas fa-clipboard-list"></i>
            <span>Tickets on my queues</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user-tag"></i>
            <span>Assigned to me</span></a>
    </li>
    {% endif %}

    {% if request.user.groups.get.name == "admin"%}
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Admin
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_manage_users' %}">
            <i class="fas fa-user-cog"></i>
            <span>Manage users</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_manage_queues' %}">
            <i class="fas fa-exchange-alt"></i>
            <span>Manage queues</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_manage_resources' %}">
            <i class="fas fa-server"></i>
            <span>Manage resources</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    {% endif %}
</ul>
<!-- End of Sidebar -->